* {box-sizing: border-box;

}

body {

  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.width {
  width: 80vw;
}

#overall-container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100vw;
height: 100%;
}


#parent-overview {
display: grid;
grid-area: 1 / 1 / 1 / 2;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 100vh;
}

.nav {
  grid-area: 1 / 1 / 2 / 3;
  height: 15vh;
  margin: 0 auto;
  width: 80vw;
}

#overview-body {
  position: relative;
  margin: 0 auto;
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  height: 80vh;
  flex-flow: row;
  min-height: 600px;
  width: 80vw;
}

#overview-body-expanded {
  grid-area: 1/1/1/1;
  margin: 0;
  text-align: center;
  position: relative;
  height: 80vh;
  width: 100vh;
}

.fa-expand {
  position: absolute;
  top: 30px;
  right: 15%;
  z-index: 1;
  color: white;
  font-size: 2rem;
}

.fa-expand:hover {
  opacity: 80%;
  color:black;
  cursor: pointer;
}

#overview-body-image {

  position: relative;
  width: 100%;
  min-height: 600px;
  min-width: 400px;
  max-width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  overflow: hidden;

}
#overview-body-image-expanded {
  height: 100vh;
  width: 100vh;
  text-align: center;
  overflow: hidden;
}



#overview-body-image img {
  height: auto;
  object-fit: cover;
  max-width: 100%;
  height: 100%;

}

#overview-body-image-expanded img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

#overview-body-image img:hover {
  cursor: zoom-in;
}

#img-magnifier-glass {
  position: absolute;
  border: 2px solid rgb(173, 171, 171);
  cursor: none;
  /* border-radius: 50%; */
  width: 8rem;
  height: 8rem;
}


.overview-body-interaction {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 4rem;
  padding-left: 1rem;
  margin-left: 2rem;
}
.overview-body-interaction h2, p {
  margin-bottom: 0.5rem;
}
.expanded-image {
  width: 100%;
  height: auto;
  object-fit: cover;

}



.expanded {
  display: none;
}

.checked {
  color: orange;
}

.product-info {


  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.current-stars {
  margin: 1rem 0 0.5rem 0;
  padding: 0;
}
.fa-star {
  height: .8rem;
}

.individual-styles {
    margin: .2rem;
    object-fit: fill;
    clip-path: circle(50% at 50% 50%);
    text-decoration: none;
    border: none;
}

.individual-styles:hover {
  opacity: 80%;
  cursor: pointer;
}

.individual-styles img {
  height: 100%;
  width: 100%;

}

.product-styles {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 7rem;
  align-items: flex-start

}

.product-buttons {
  grid-area: 3 / 1 / 4 / 2;
  height: 100%;
}
.overview-description {
  grid-area: 3 / 1 / 4 / 3;
  height: 25vh;
  margin: 0 auto;
  width: 80vw;
}

.parent-products {
  grid-area: 2 / 1 / 3 / 2;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
.parent-questions {
  grid-area: 3 / 1 / 4 / 2;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
.parent-reviews {
  grid-area: 4 / 1 / 5 / 2;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 905px) {
  .individual-styles {
    height: 5rem;
    width: 5rem;
  }
  .width {
    width: 100vw;
  }


  .nav {
    height: 10vh;
  }
  #overview-body {

    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
  }
  #overview-body-image {
    width: 100%;
    height: 100%;
  }
  #overview-body-image img {
    object-fit: cover;

    width: 100%;
    height: 100%;
  }
  .overview-body-interaction {
    font-size: 1rem;
    width: 100%;
    height: 50vh;

  }
}
@media (min-width: 905px) and (max-width:992px) {
  .overview-body-interaction {
    font-size: 1.2rem;
  }
  .individual-styles {
    height: 4rem;
    width: 4rem;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1115px) {

  .overview-body-interaction {
    font-size: 1.3rem;
  }
  .individual-styles {
    height: 4.8rem;
    width: 4.8rem;
  }
}


@media (min-width: 1115px) {
  .overview-body-interaction {
    font-size: 1.4rem;
  }
  .individual-styles {
    height: 5.6rem;
    width: 5.6rem;
  }
}

@media (min-width: 1308px) {
  .product-styles {
    margin-right: 11rem;
  }
  .individual-styles {
    height: 5.6;
    width: 5.6;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1577px) {
  .product-styles {
    margin-right: 16rem;
  }
  .overview-body-interaction {
    font-size: 1.9rem;
  }
  .individual-styles {
    height: 5.6rem;
    width: 5.6rem;
  }
  .fa-expand {
    right: 24%;
  }

}