@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'VarelaRound';
  src: url('fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 254, 252);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

h1, h2, h3, h4 {
  font-family: 'VarelaRound'
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.facebook {
  height: 3rem;
  font-size: 30px;
  margin: 0 1rem;
  color: #4967A9;
}
.facebook:hover {
  cursor: pointer;
  opacity: 80%;
}

.twitter {
  height: 3rem;
  font-size: 30px;
  margin: 0 1rem;
  color: #03A1F2;
}

.twitter:hover {
  cursor: pointer;
  opacity: 80%;
}

.pinterest {
  height: 3rem;
  font-size: 30px;
  margin: 0 1rem;
  color: #DF1A25;
}

.pinterest:hover {
  cursor: pointer;
  opacity: 80%;
}


p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.width {
  width: 80vw;
}

#overall-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

#parent-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  height: 100vh;
}

.nav {
  margin: 0 auto;
  grid-area: 1 / 1 / 2 / 3;
  height: 8vh;
  background-color: #525252;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  width: 80vw;
}

.logo {
  padding-top: 1rem;
}
.logo:hover {
  opacity: 80%;
  cursor: default;
}

.fa-search {
  margin-top: .5rem;
  margin-left: .5rem;
  color: white;
  cursor: pointer;
}

.fa-search:hover {
  opacity: 80%;
}

.prod-search {
  outline: none;
  background-color: #525252;
  border-style: none;
  border-bottom: 1px white solid;
  color: white;
}

.prod-search:hover {
  border-bottom: 2px white solid;
  opacity: 80%;
}

.check {
  position: relative;

}

input[type="checkbox"] {
  display: none;
  margin: 0;
}

input[type="checkbox"]:checked {
  position: relative;
  margin: 0;
  right: 1rem;
  float: right;
  display: initial;
  pointer-events: none;
}

#overview-body {
  margin: 0 auto;
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  height: 75vh;
  flex-flow: row;
  width: 80vw;
}

#overview-body-expanded {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 500%;
  width: 500%;
  background-color: white;
  z-index: 10;
}

.button-expander {
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 1;
  color: rgb(243, 217, 217);
  font-size: 2rem;

}

.button-expander:hover {
  opacity: 80%;
  color:black;
  cursor: pointer;
}
.carousel-photos-thumbnail {
  position: relative;
  height: 200px;
  width: 400px;
}

#overview-body-image {
  position: relative;
  width: 50%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  justify-content: center;

}

.star-add-to-bag-div {
  display: flex;
  flex-direction: row;
}

.star-product {
  align-items: center;
  height: 5rem;
  margin-top: 1rem;
  font-size: 2rem;
  width: 10%;
  border: 2px #525252 solid;
  outline: none;
  font-weight: bold;
  padding: 15px;
  background-color: white;
}

.star-product:hover {
  cursor: pointer;
  opacity: 80%;
  transform: translateY(-5px);
  border-bottom: 5px #414040 solid;
  color: #0275FE;
}


.add-to-bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 40%;
  border: 2px #525252 solid;
  outline: none;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-right: 1rem;
}

.add-to-bag:hover {
  cursor: pointer;
  opacity: 80%;
  transform: translateY(-5px);
  border-bottom: 5px #414040 solid;
}

.select-size-dropdown {
  box-sizing: border-box;
  height: 4rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  width: 14rem;
  border: 2px #525252 solid;
  outline: none;
  font-weight: bold;
  padding: 10px;
}

.select-quantity-dropdown {
  padding: 10px;
  height: 4rem;
  width: 8rem;
  border: 2px #525252 solid;
  font-size: 1.5rem;
  outline: none;
  font-weight: bold;
}
#overview-body-image-expanded {
  height: 100%;
  width: auto;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#overview-body-image img {
  min-height: 600px;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}


.overview-zoom-image-expanded {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

#overview-body-image img:hover {
  cursor: zoom-in;
}

#overview-body-image-expanded img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  cursor: crosshair;
}

#img-magnifier-glass {
  position: absolute;
  border: 2px solid rgb(173, 171, 171);
  cursor: none;
  /* border-radius: 50%; */
  width: 8rem;
  height: 8rem;
}

.overview-body-interaction {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 3rem;
  padding-left: 1rem;
  margin-left: 2rem;
}

.overview-body-interaction h2, p {
  margin-bottom: 0.5rem;
}

.expanded-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.read-all-scroll {
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-left: 1rem;
  padding-top: .8rem;
  color: #1e62b1;
}

.read-all-scroll:hover {
  cursor: pointer;
  opacity: 80%;
  color: #487DB8;

}

.current-stars {
  display: flex;
  flex-direction: row;
  vertical-align: middle;


}
.current-stars-div {
  height: 1rem;

}

.individual-styles {
    height: 5rem;
    width: 5rem;
    margin: .5rem;
    object-fit: fill;
    clip-path: circle(50% at 50% 50%);
    text-decoration: none;
    border: none;
    position: relative;
    display: inline-block
}

.individual-styles:hover {
  opacity: 80%;
  cursor: pointer;
}

.individual-styles img {
  height: 100%;
  width: 100%;

}

.product-styles {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: flex-start;
  width: 100%;
}

.product-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-area: 3 / 1 / 4 / 2;
  width: 100%;
}
.overview-description {
  grid-area: 3 / 1 / 4 / 3;
  height: 100%;
  margin: 0 auto;
  width: 80vw;
  display: inline-block;
}

/* Related Products */
#related-products {
  height: auto;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2%;
}

.related-products-title, .outfits-title {
  margin: 0px;
  font-size: 1.5vw;
}

.carousel {
  display: flex;
}

.product-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0.5px 0.5px 5px gray;
  height: 95%;
  width: auto;
}

.product-card:hover {
  color:#1e62b1;
  cursor: pointer;
  /* opacity: 80%; */
  box-shadow: 1px 1px 10px gray;
}

#outfits-card {
  position: relative;
  justify-content: center;
}

.carousel-chevron:hover {
  color:#1e62b1;
}

#outfits-add:hover {
  font-weight: 550;
  color:#1e62b1;
}

#outfits-add-text {
  text-align: center;
  font-size: 1.3vw;
  margin-top: 3vh;
}

#outfits-add {
  font-size: 12vw;
  margin-bottom: 1vh;
}

.outfits-x:hover {
  font-size: 125%;
}

.carousel-chevron:hover {
  font-size: 175%;
}

.product-name {
  margin: 0px;
  /* overflow: hidden; */
  display: inline-block;
  font-size: 1.2vw;
}

.product-category, .product-price{
  margin-top: 10px;
  font-size: 1.1vw;
}

.product-image-container {
  position: relative;
}

.product-image {
  width: 100%;
  display: block;
  background-color: aliceblue;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.product-rating {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.product-rating-empty {
  margin-bottom: 6px;
}

.fa-star, .comparison-modal, .outfits-x {
  position: absolute;
  top:2%;
  right:3%;
  color: white;
}

.compare-product-button:hover, .modal-close:hover{
  font-size: 125%;
}

.comparison-modal, .outfits-x, #outfits-add, .carousel-chevron, .modal-close {
  border: none;
  color: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.outfits-x {
  color: white;
}

.carousel-chevron {
  color: black;
  font-size: 20px;
}

.modal-close {
  position: absolute;
  top: 2%;
  right: 2%;
}

.table-heading {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 15px;
}

tr td, tr th{
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

tr th {
  border-bottom: 2px dotted black;
}

.table-product {
  border-right: 2px dotted black;
}

.table-currentProduct {
  border-left: 2px dotted black;
}

.table-feature {
  font-weight: 600;
}

/* Reviews */
.parent-reviews {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  padding: 5px;
}

.review-title {
  margin-bottom: 2rem;

}

.review-title h1 {
  font-size: 2rem;
}

.reviews-content {
  display: flex;
}


/*# sourceMappingURL=style.css.map */




/* review tiles styles start */

.review-list {
  width: 58vw;


}

.review-tiles {
  height: 70vh;
  overflow: auto;
  margin-bottom: 1rem;
}

.review-tile {
  padding: 0 10px 0 10px;
  border: solid #7B9EB3 2px;
  border-radius: 10px;
  margin-bottom: 1px;
  display: grid;
  grid-template-columns:  repeat( auto-fit, minmax(12vw, 1fr) ) ;
  grid-template-rows: .5fr .2fr repeat( auto-fit, minmax(10vh, 1fr) ) .4fr;
  gap: 0px 0px;
  grid-template-areas:
    " sum sum . user "
    " sta . rec rec  "
    " bod bod bod bod "
    " hel . pho pho "
    " resp resp resp . ";
}

.review-summary {
  grid-area: sum
}
.review-stars {
  grid-area: sta
}

.review-user-date {
  grid-area: user
}

.review-body {
  grid-area: bod
}

.review-show-more {
  grid-area: mor
}

.review-photos {
  grid-area: pho;
  display: flex;

}

.review-photo {
  padding-left: 20px;
  cursor: pointer;
}

.review-photo:hover {
  opacity: .7;
}

.review-recommend {
  grid-area: rec
}

.review-actions {
  display: flex;
  grid-area: hel;
}

.review-helpful {
  padding-right: 5%;
  font-size: 12px;
}

.review-helpful span {
  text-decoration: underline;
  cursor: pointer;
}

.review-helpful span:hover {
  color: green;
}

.review-report {

  text-decoration: underline;
  font-size: 12px;;

}

.review-report span {
  cursor: pointer;
}

.review-report span:hover {
  color: red;
}

.review-response {
  grid-area: resp;
}

/* review tiles styles end */


/* review stats styles start */

.review-stats h3 {
  margin-bottom: 5px;
}

.review-stats .stars {
  margin-bottom: 10px;
}

.reviews-ratings {
  width: 30vw;
}

.reviews-recommend-percent {
  margin-top: .5rem;
}

.review-bar {
 display: flex;
}

.bar-label {
  width: 60px;
}
.outer-bar {
  position: relative;

  width: 7vw;
  height: 10px;
  margin-left: 10px;

  background-color: rgb(211, 211, 211);
}



.fill{
  position: absolute;
  height: 10px;
  bottom: 0;
  background-color: #487DB8;
}

.review-characteristic{
  width: 80%;
  margin-bottom: 1rem;
}

.review-characteristic p {
  margin-bottom: 5px;
}

.characteristics-bar {


   height: 5px;
   background-color: gray;

}

.characteristics-icon {

  width: 50%;
  height: 10px;
  border-right: solid black 4px;

}

.characteristics-labels {
  display: flex;
  justify-content: space-between;

}

.characteristics-labels p{
  margin-top: 0;
  font-size: .75rem;
  text-align: center;
}




/* review stats styles end */

/* add review styles start */

.characteristic-radio input {
  margin-bottom: 1rem;
}



/* add review styles end */




/* Component Test Styles Start */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  left: 5%;
  right: 5%;
  top: 0;


  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  opacity: 0;
  transition: opacity .5s, width .5s, height .5s, margin .5s, right .5s;

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}


#outer {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

#outer2 {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}


/* Component Test Styles End */


/* Stars Styles Start */

.stars {
  display: flex;
  flex-direction: row;
}

.star {
  width: 20px;
  height: 20px;
}

.product-rating .star {
  width: 15px;
  height: 15px;
}
/* Stars Styles End */

/*# sourceMappingURL=style.css.map */


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

}

@media (min-width: 600px) and (max-width:768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1200){

}

@media (min-width: 1201px) {

}

@media (max-height: 800px) {
  * {

    font-size: 14px;
  }
  #overview-body {
    overflow: scroll;
  }

  #overview-body-image img {
    min-height: 400px;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .select-size-dropdown {
    box-sizing: border-box;
    height: 4rem;
    margin-right: 1rem;
    font-size: 1rem;
    width: 10rem;
    border: 2px #525252 solid;
    outline: none;
    font-weight: bold;
    padding: 10px;
  }

  .select-quantity-dropdown {
    padding: 10px;
    height: 4rem;
    width: 4rem;
    border: 2px #525252 solid;
    font-size: 1rem;
    outline: none;
    font-weight: bold;
  }
  .read-all-scroll {
    padding-top: .3rem;
  }
}
